.navbar {
  @include size(100%, 4rem);
  z-index: 50;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color: #666, $alpha: 0.6);
  box-shadow: 5px 0 10px 5px rgba($color: #000, $alpha: 0.3);
  //RWD-md
  @include md {
    @include size(4rem, 100vh);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }

  &__logo {
    @include size(2.5rem, 2.5rem);
    //RWD-md
    @include md {
      margin-top: 2.5rem;
    }
    background-image: url('../../../public/images/icon/navbar/logo.svg');
    @extend %bg-contain;
    opacity: 0.7;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
    }
  }
  &__menu {
    display: flex;
    gap: 1.5rem;
    //RWD-md
    @include md {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      flex-direction: column;
      gap: 1.5rem;
    }

    li {
      display: flex;
      a {
        @include size(1.5rem, 1.5rem);
        @extend %bg-contain;
        opacity: 0.7;
        transition: all 0.4s;
        &:hover {
          opacity: 1;
        }
      }
      &:nth-child(1) {
        a {
          background-image: url('../../../public/images/icon/navbar/location.svg');
        }
      }
      &:nth-child(2) {
        a {
          background-image: url('../../../public/images/icon/navbar/info.svg');
        }
      }
    }
  }
}
