html {
  font-size: 14px;
  //RWD-lg
  @include lg {
    font-size: 16px;
  }
}

body {
  @include size(100%, 100vh);
  background-image: url('../../../public/images/bgc-dark.jpg');
  @extend %bg-cover;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  @include size(100%, 100vh);
  @include absolute-lt(0%, 0%);
  padding-top: 4rem;
  //RWD-md
  @include md {
    padding-top: 0;
    padding-left: 4rem;
  }
  overflow: hidden;
  display: flex;
}
